@import "steel-bootstrap/src/variables";
@import "steel-bootstrap/src/mixins";

/* Topbar
	 ========================================================================== */

.topbar {
	box-shadow: $shadow-small;
	background: white;
	height: 72px;
}

.topbar-list {
	list-style: none;
	font-size: 0;
	margin: 0;
	padding: 0;
}

.topbar-item {
	display: inline-block;
	margin: 0 20px;
}

.topbar-item:first-child {
	margin: 0 20px 0 0;
}

.topbar-item:last-child {
	margin-right: 32px;
	padding: 0;
}

.topbar-logo-link {
	background: $primary;
	display: block;
	font-size: 12px;
	padding: 26px;
}

.topbar-logo {
	vertical-align: sub;
}

.topbar-logo-dropdown {
	background: $primary;
	border-radius: initial;
	border: 0;
	color: white;
	display: block;
	font-size: 12px;
	font-weight: 600;
	height: 72px;
	padding: 29px;
	text-decoration: none;
}

.topbar-logo-dropdown:hover {
	color: white;
}

.topbar-link {
	@include anim(color);
	color: rgba($secondary, .7);
	font-size: 12px;
	font-weight: 600;
	padding: 0 4px;
	text-decoration: none;
}

.topbar-link-selected,
.topbar-link-selected:hover {
	color: $primary;
	border-bottom: 2px solid $primary;
	padding-bottom: 24px;
}

.topbar-item .avatar {
	display: block;
	height: 36px;
	width: 36px;
}

/* Topbar Fill
	 ========================================================================== */

.topbar-fill.topbar {
	background: $primary;
}

.topbar-fill .topbar-link:hover {
	color: white;
}

.topbar-fill .topbar-link-selected,
.topbar-fill .topbar-link-selected:hover {
	color: white;
	border-color: white;
}
